{
  "definition": {
    "openapi": "3.0.0",
    "info": {
      "title": "WebClone Pro 2026 API",
      "version": "2.0.0",
      "description": "Next-generation AI-native website cloning and creation platform with advanced PDF processing, real-time collaboration, and intelligent cost optimization.",
      "contact": {
        "name": "WebClone Pro Support",
        "email": "support@webclonepro.com",
        "url": "https://webclonepro.com/support"
      },
      "license": {
        "name": "MIT",
        "url": "https://opensource.org/licenses/MIT"
      }
    },
    "servers": [
      {
        "url": "https://api.webclonepro.com/v2",
        "description": "Production server"
      },
      {
        "url": "https://staging-api.webclonepro.com/v2",
        "description": "Staging server"
      },
      {
        "url": "http://localhost:3000/api",
        "description": "Local development server"
      }
    ],
    "security": [
      {
        "bearerAuth": []
      }
    ],
    "tags": [
      {
        "name": "Authentication",
        "description": "User authentication and session management"
      },
      {
        "name": "Users",
        "description": "User profile and account management"
      },
      {
        "name": "Projects",
        "description": "Website cloning projects"
      },
      {
        "name": "PDF Processing",
        "description": "Document intelligence and RAG"
      },
      {
        "name": "Credits",
        "description": "AI credit management and billing"
      },
      {
        "name": "Analytics",
        "description": "Usage analytics and optimization"
      },
      {
        "name": "Collaboration",
        "description": "Real-time collaboration features"
      },
      {
        "name": "Admin",
        "description": "Platform administration"
      }
    ]
  },
  "apis": [
    "./app/api/**/*.ts"
  ]
}